<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" type="text/css" href="~/css/Fonts/Fonts.css">

<div class="header">

    <div style="margin-left:30px;">
        <img src="/Assets/LadyHoldingTablet.png" />
    </div>

    <div style="margin-right:30px; display:flex; align-items:center; ">
        <p>Give us a call! (855) 515-1931</p>
        <button class="button" style="width: 269px; height: 54px; ">
            Schedule A Free Live Consult!
        </button>

    </div>

</div>

<div class="background">
    <div class="Druk-Medium-Web" style="width: 472px; font-size:xx-large;">
        DESIGN YOUR CLOSET WITH A VIRTUAL CONSULT
    </div>

    <div style="width: 451px; padding: 15px;">
        Schedule a 100% FREE, live virtual consult with our closet designers — from the comfort of your home!
    </div>

    <div class="infoBox" style=" width: 435px; height: 403px; padding: 15px;">
        <input class="form-inputs" style="width: 189px;" placeholder="First Name" />

        <input class="form-inputs" style="width: 189px;" placeholder="Last Name" />

        <input class="form-inputs" style="width: 386px;" placeholder="Email Address" />
        <input class="form-inputs" style="width: 386px; " placeholder="Phone Number" />
        <select class="form-inputs" style="width: 386px;">
            <option value="" selected="selected">State</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>

        <p style="line-height:normal;">
            <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
            By checking this box, you are indicating that you have read and agree to the terms of the Consent to
            Electronic Communications, our Terms of Use, and our Privacy Policy and to receive SMS messages from Modular Closets
            that you can opt out at any time by replying STOP.
        </p>
        <button class="button" style="width: 386px; height: 63px;">
            See Available Times
        </button>

    </div>

    <div style="margin-top: 162px; margin-left: 718px; width: 774px; height: 711px;">
        <img src='/Assets/LadyHoldingTablet.png' />
    </div>
</div>
<div class="footer">
    <p style="color:#000000; opacity: 40%;">Rated “Excellent” | 2405 Reviews</p>
    <img src="FourStarts.svg" class="logo" />
    <p style="color:#000000; opacity: 40%;">As Seen On:</p>
    <img src="HGTVLogo.png" class="logo" />
    <img src="ApTherapyLogo.png" class="logo" />
    <img src="CNNLogo.png" class="logo" />
    <img src="NYTLogo.png" class="logo" />
    <img src="OprahLogo.png" class="logo" />

</div>

<div style="padding:50px;">
    <div>
        <h3 style="text-align:center; padding: 20px;">Here's how it works</h3>
    </div>

    <div class="boxes">
        <div class="box">
            <img src="CalendarIcon.svg" />
            <h5>1. Book A Consultation</h5>
            <p>Your closet designer will help you measure your space live. It’s 100% free!</p>
        </div>

        <img src="DotsIcon.svg" />

        <div class="box">
            <img src="MeetIcon.svg" />
            <h5>2. Get a closet design</h5>
            <p>On the call, your designer will create closet designs. Revise as much as you want!</p>
        </div>

        <img src="DotsIcon.svg" />

        <div class="box">
            <img src="TruckIcon.svg" />
            <h5>3. Closets ship in 10 days</h5>
            <p>Assembling your custom closet is DIY-friendly.Learn more in our FAQs.</p>
        </div>
    </div>

    <div class="design-team-div">

        <div style="width:104px;">
            <h6 style="color:#2773AA; transform: matrix(1, -0.07, 0.07, 1, 0, 0);">Our expert design team!</h6>
            <img src="ArrowIcon.svg" />
        </div>
        <div>
            <img style="height: 82px;" src="Pic1" />
            <img style="height: 82px;" src="Pic2" />
            <img style="height: 82px;" src="Pic3" />
            <img style="height: 82px;" src="Pic4" />
            <img style="height: 82px;" src="Pic5" />
            <img style="height: 82px;" src="Pic6" />
            <img style="height: 82px;" src="Pic7" />
            <img style="height: 82px;" src="Pic8" />
            <img style="height: 82px;" src="Pic9" />


        </div>



    </div>


</div>


